#White
{
    background-color: white;
}

#Lime 
{
    background-color: lime;
}

#Lavender
{
    background-color: lavender;
}

#Crimson
{
    background-color: crimson;
}

#darkblue
{
    background-color: darkblue;
}
#teal
{
    background-color: teal;
}
#Rebeccapurple
{
    background-color: rebeccapurple;
}
#Ghostwhite
{
    background-color: ghostwhite;
}
#Aquamarine
{
    background-color: aquamarine;
}
#Aliceblue
{
    background-color: aliceblue;
}
